@model Sigeret.Models.Equipo

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<fieldset>
    <legend>Equipo</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ModeloEquipo.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeloEquipo.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Serie)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Serie)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModeloEquipo.Modelo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeloEquipo.Modelo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModeloEquipo.Marca)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeloEquipo.Marca)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ModeloEquipo.Descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ModeloEquipo.Descripcion)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.EstatusEquipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstatusEquipo)
    </div>

    


</fieldset>
<p>
    @Html.ActionLink("Editar", "Editar", new { id=Model.Id }) |
    @Html.ActionLink("Regresar", "Index")
</p>
