@model Equipo

<div class="modal fade dn ignore" id="UnidadesModalCreate" data-focus-on="input:first" data-width="760">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Registrar Nueva Unidad</h4>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @using (Ajax.BeginForm("AgregarUnidad", "Equipo",
                new AjaxOptions {
                    HttpMethod = "POST",
                    OnSuccess = "CreateSuccess",
                    OnFailure = "CreateFailure"
                }, new { @class = "addUnidadFrm" })){
                @Html.ValidationSummary(true)
                <div class="modal-body">
                    @Html.HiddenFor(model => model.IdModeloEquipo)
                    <div class="row">
                        <div class="form-group col-lg-6 col-lg-offset-3">
                            @Html.CLabelFor(model => model.Serie)
                            @Html.CTextBoxFor(model => model.Serie)
                            @Html.CValidationMessageFor(model => model.Serie)
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" data-dismiss="modal" class="btn btn-danger"><i class="glyphicon glyphicon-remove"></i>&nbsp;Cancelar</a>
        <button type="submit" class="btn btn-primary addUnidadBtn"><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp;Registrar</button>
    </div>
</div>
