@model Sigeret.Models.LoginModel

@{
    ViewBag.Title = "Iniciar Sesión";
}
<div class="col-lg-6 col-lg-offset-3">
    <hgroup class="title">
        <h2>Iniciar Sesi&oacute;n</h2>
    </hgroup>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well">
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()
                if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
                { 
                    <div class="alert alert-dismissable alert-danger">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.ValidationSummary(true)
                    </div>
                }
                
                <fieldset>
                    <legend>Introduzca sus datos para inciar sesi&oacute;n</legend>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.CLabelFor(m => m.UserName)
                            @Html.CTextBoxFor(m => m.UserName)
                            @Html.CValidationMessageFor(m => m.UserName)
                        </div>
                        <div class="form-group col-lg-12">
                            @Html.CLabelFor(m => m.Password)
                            @Html.CPasswordFor(m => m.Password)
                            @Html.CValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="mb20">@Html.CheckBox("RememberMe") ¿Recordarme?</label>
                        </div>
                        <div class="form-group col-lg-16">
                        </div>
                    </div>
                    <div class="row form-group col-lg-12">
                        <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
                        @Html.ActionLink("¿Olvidó su contraseña?", "ResetPassword", null, new { @class = "ml10" })
                    </div>
                </fieldset>
                <p>
                </p>
            }
        </div>
    </div>
</div>

