@model Sigeret.Models.ViewModels.SolicitudViewModel

@{
    ViewBag.Title = "Solicitud";
    List<String> check = new List<string>();
    check = ViewBag.check;

    List<Tuple<String, String>> cantidadSel = new List<Tuple<string, string>>();
    cantidadSel = ViewBag.cantidad;
}

<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            <h2>Nueva Solicitud</h2>
        </hgroup>
        <div class="well">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <fieldset class="employe">
                    <legend>Datos de la nueva Solicitud a registrar</legend>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.Fecha)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.Fecha, new { @class = "fechaFutura", Value = (Model==null)? "" : Model.Fecha.ToString("yyyy/MM/dd") })
                                <label for="Fecha" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.Fecha)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.HoraInicio)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.HoraInicio, new { @class = "CtimePicker" })
                                <label for="HoraInicio" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-time"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.HoraInicio)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.HoraFin)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.HoraFin, new { @class = "CtimePicker" })
                                <label for="HoraFin" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-time"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.HoraFin)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.CLabelFor(model => model.Descripcion)
                            @Html.CTextAreaFor(model => model.Descripcion)
                            @Html.CValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.CLabelFor(model => model.EdificioId)
                            @Html.CDropDownListFor(model => model.EdificioId, null, "--Seleccione Edificio--",  new { @class = "chosen" })
                            @Html.CValidationMessageFor(model => model.EdificioId)
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.CLabelFor(model => model.SalonId)
                            @Html.CDropDownListFor(model => model.SalonId, null,  "--Seleccione Salon--", new { @class = "chosen" })
                            @Html.CValidationMessageFor(model => model.SalonId)
                        </div>
                    </div>

                    <div id="ModelMensaje" style="color: red; font-size: x-large; font-weight: bold">
                        <br />
                        @ViewBag.Seleccionar
                    </div>

                    <div id="PartialModeloEquipo">

                    </div>

                    <div class="row form-group col-lg-12 pt20">
                        <input type="submit" class="btn btn-primary" value="Crear" />
                        @Html.ActionLink("Retroceder", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>


@section Scripts{

    <script>
        

        $(document).ready(function () {

            var fechaVar = $('#Fecha').val();
            var horaInicioVar = $('#HoraInicio').val();
            var horaFinVar = $('#HoraFin').val();
            //asignando el valor que tienen los viewvag despues del post para mentener el estado de los check y cantidad que han sido 
            //seleccionado 0jojojoojooj no esta funcionando hasta el momento
            var checkVar = '@ViewBag.check';
            var cantSelVar = '@ViewBag.cantidad';
           
            
           
            if (fechaVar != "" && horaFinVar != "" && horaInicioVar != "") {



                $.ajax({
                    type: "POST",
                    url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                    data: { fecha: fechaVar, horaInicio: horaInicioVar, horaFin: horaFinVar, checkPost: checkVar, cantidadSelPost: cantSelVar },
                    success: function (data) {
                        $('#PartialModeloEquipo').html(data);
                    }
                })

            }



            $("#EdificioId").change(function () {
                updateDropdown(
                    { salonId: $("#EdificioId > option:selected").attr("value") },
                    '@Url.Action("getSalonJson", "Solicitud")',
                    $('#SalonId'),
                    $('#SalonId').chosen()
                );
                @*$.ajax({
                    type: "POST",
                    url: '@Url.Action("getSalonJson", "Solicitud")',
                    data: { salonId: $("#EdificioId > option:selected").attr("value") },
                    success: function (data) {
                        var items = [];
                        items.push("<option>--Seleccione Salon--</option>");
                        $.each(data, function () {
                            items.push("<option value=" + this.Value + ">" + this.Text + "</option>");
                        });
                        $("#SalonId").html(items.join(' '));
                    }
                })*@
            });


            $("#Fecha").change(function () {


                var fechaVar = $('#Fecha').val();
                var horaInicioVar = $('#HoraInicio').val();;
                var horaFinVar = $('#HoraFin').val();
                if (fechaVar != "" && horaFinVar != "" && horaInicioVar != "") {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                        data: { fecha: fechaVar, horaInicio: horaInicioVar, horaFin: horaFinVar },
                        success: function (data) {
                            $('#PartialModeloEquipo').html(data);
                        }
                    })
                }
            });

            $("#HoraInicio").change(function () {


                var fechaVar = $('#Fecha').val();
                var horaInicioVar = $('#HoraInicio').val();;
                var horaFinVar = $('#HoraFin').val();
                if (fechaVar != "" && horaFinVar != "" && horaInicioVar != "") {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                        data: { fecha: fechaVar, horaInicio: horaInicioVar, horaFin: horaFinVar },
                        success: function (data) {
                            $('#PartialModeloEquipo').html(data);
                        }
                    })
                }
            });

            $("#HoraFin").change(function () {


                var fechaVar = $('#Fecha').val();
                var horaInicioVar = $('#HoraInicio').val();;
                var horaFinVar = $('#HoraFin').val();
                if (fechaVar != "" && horaFinVar != "" && horaInicioVar != "") {

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                        data: { fecha: fechaVar, horaInicio: horaInicioVar, horaFin: horaFinVar },
                        success: function (data) {
                            $('#PartialModeloEquipo').html(data);
                        }
                    })
                }
            });

        });

    </script>
}