@model Sigeret.Models.ViewModels.SolicitudViewModel

@{
    ViewBag.Title = "Solicitud";
}

<div class="row">
    <div class="col-lg-12">
        <hgroup class="title">
            <h2>Nueva Solicitud</h2>
        </hgroup>
        <div class="well">
            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "solicitudForm" }))
            {
                @Html.AntiForgeryToken()
                if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
                { 
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    @Html.ValidationSummary(true)
                </div>
                }
                <fieldset class="employe">
                    <legend>Datos de la nueva Solicitud a registrar</legend>
                    <div class="row">
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.Fecha)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.Fecha, new { @class = "fechaFutura", Value = (Model == null) ? "" : Model.Fecha.ToString("yyyy/MM/dd") })
                                <label for="Fecha" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.Fecha)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.HoraInicio)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.HoraInicio, new { @class = "CtimePicker" })
                                <label for="HoraInicio" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-time"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.HoraInicio)
                        </div>
                        <div class="form-group col-lg-4">
                            @Html.CLabelFor(model => model.HoraFin)
                            <div class="input-group">
                                @Html.CTextBoxFor(model => model.HoraFin, new { @class = "CtimePicker" })
                                <label for="HoraFin" class="input-group-addon btn">
                                    <i class="glyphicon glyphicon-time"></i>
                                </label>
                            </div>
                            @Html.CValidationMessageFor(model => model.HoraFin)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-12">
                            @Html.CLabelFor(model => model.Descripcion)
                            @Html.CTextAreaFor(model => model.Descripcion)
                            @Html.CValidationMessageFor(model => model.Descripcion)
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-lg-6">
                            @Html.CLabelFor(model => model.EdificioId)
                            @Html.CDropDownListFor(model => model.EdificioId, null, "--Seleccione Edificio--", new { @class = "chosen" })
                            @Html.CValidationMessageFor(model => model.EdificioId)
                        </div>
                        <div class="form-group col-lg-6">
                            @Html.CLabelFor(model => model.SalonId)
                            @Html.CDropDownListFor(model => model.SalonId, null, "--Seleccione Salon--", new { @class = "chosen" })
                            @Html.CValidationMessageFor(model => model.SalonId)
                        </div>
                    </div>

                    <div id="ModelMensaje" style="color: red; font-size: x-large; font-weight: bold">
                        <br />
                        @ViewBag.Seleccionar
                    </div>

                    <div id="PartialModeloEquipo">
                        @if (ViewBag.PostedBack != null && ViewBag.PostedBack == true) {
                            @Html.Partial("PartialModeloEquipo", Model.modelos) 
                        }
                    </div>

                    <div class="row form-group col-lg-12 pt20">
                        <input type="submit" class="btn btn-primary btnGuardar" value="Crear" />
                        @Html.ActionLink("Retroceder", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            }
        </div>
    </div>
</div>


@section Scripts{

    <script>
        

        $(document).ready(function () {
            function FnObtenerEquiposDisponibles() {

                
                var fechaVar = $('#Fecha').val();
                var horaInicioVar = $('#HoraInicio').val();;
                var horaFinVar = $('#HoraFin').val();
                
                if (fechaVar != "" && horaFinVar != "" && horaInicioVar != "" && (horaInicioVar < horaFinVar)) {
                    
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EquiposDisponibles", "Solicitud")',

                        data: $('.solicitudForm').serialize(),
                        success: function (data) {
                            $('#PartialModeloEquipo').html(data);
                        }
                    })
                }
            }

            $("#EdificioId").change(function () {
                updateDropdown(
                    { salonId: $("#EdificioId > option:selected").attr("value") },
                    '@Url.Action("getSalonJson", "Solicitud")',
                    $('#SalonId'),
                    $('#SalonId').chosen()
                );
            });

            $("#Fecha, #HoraInicio, #HoraFin").on('change', function () {
                FnObtenerEquiposDisponibles();
            });

            //$("#HoraInicio").change(function () {
            //    FnObtenerEquiposDisponibles();
            //});

            //$("#HoraFin").change(function () {
            //    FnObtenerEquiposDisponibles();
            //});

            $('.btnGuardar').on('click', function (evt) {
                evt.preventDefault();
                var valid = false;
                var incorrect = false;
                $("input[name$='isSelected']").each(function () {
                    if ($(this).is(':checked')) {
                        if ($('#' + $(this).attr('id') + '.form-control').val() <= 0) {
                            incorrect = true;
                            valid = false;
                            return false;
                        }
                        else {
                            valid = true;
                        }
                    }
                });
                if (valid) {
                    $('.solicitudForm').submit();
                    return true;
                }
                else if (incorrect) {
                    alert('Debe poner una cantidad mayor que cero en los equipos seleccionados');
                }
                else {
                    alert('Debe seleccionar al menos un equipo para poder procesar su solicitud');
                }

                return false;
            });

        });

    </script>
}