@model IEnumerable<ModeloEquipoItem>

@{

}

@{
    <div class="row">
        <div class="form-group col-lg-2">
            @Html.Label("Cantidad")
        </div>
        <div class="form-group col-lg-4">
            @Html.Label("Nombre")
        </div>
        <div class="form-group col-lg-6">
            @Html.Label("Descripción")
        </div>
    </div>
    int i = 0;
    foreach (var item in Model)
    {
        var checkBoxId = "chk" + @item.Id;
        <div class="row">
            <div class="form-group col-lg-2">
                <div class="input-group col-lg-8">
                    <span class="input-group-addon">
                        <input type="checkbox" id="@checkBoxId" name="modelos[@i].isSelected" @((item.IsSelected) ? "checked" : "") value="true" class="chkclass" onchange="" />
                        <input type="hidden" name="modelos[@i].isSelected" value="false" />
                    </span>
                    <input type="text" name="modelos[@i].Cantidad" id="@checkBoxId" maxlength="2" class="chkclass form-control col-lg-2 txtQuantity" value="@item.Cantidad" />
                    <input type="hidden" name="modelos[@i].Id" value="@item.Id" />
                    <input type="hidden" name="modelos[@i].Nombre" value="@item.Nombre" />
                    <input type="hidden" name="modelos[@i].Descripcion" value="@item.Descripcion" />
                </div>
            </div>
            <div class="form-group col-lg-4">
                @item.Nombre
            </div>
            <div class="form-group col-lg-6">
                @item.Descripcion
            </div>
        </div>
        i++;
    }
}