<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("SIGERET", "Index", "Home", null, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li>@Html.AuthorizeActionLink(menu, "Equipo", "Index", "Equipo", "ACA01")</li>
                <li>@Html.AuthorizeActionLink(menu, "Usuario", "Index", "Usuario", "AFA01")</li>
                <li>@Html.AuthorizeActionLink(menu, "Solicitudes", "Index", "Solicitud", "AEA01")</li>
                <li>@Html.AuthorizeActionLink(menu, "Reportes", "Index", "Reporte", "ADA01")</li>
                <li>@Html.AuthorizeActionLink(menu, "Cuenta", "Index", "Account", "AAA00")</li>
                <li>@Html.AuthorizeActionLink(menu, "Permisos", "Editar", "Permisos", "AGA01")</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @if (WebSecurity.IsAuthenticated)
                        { 
                            @(WebSecurity.CurrentUserName)
                        }
                        else
                        {
                            @("Invitado") 
                        }
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @if (WebSecurity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Contactos", "Index", "Contacto")</li> 
                            <li>@Html.ActionLink(
                                    "Cerrar Sesión", "LogOff", "Account",
                                    new { href = "javascript:document.getElementById('logoutForm').submit()" })
                            </li>
                            using (Html.BeginForm("Logoff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                        }
                        else
                        {
                            <li>@Html.ActionLink("Iniciar Sesión", "Login", "Account", new { returnUrl = Request.RawUrl }, null)</li>
                        }
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
